<div class="card">
  <p-toast></p-toast>
  <div class="flex justify-content-between align-items-center">
    <h2 class="m-2">Lista de Produtos</h2>
  </div>
  <p-toolbar>
    <p-button label="Novo" icon="pi pi-plus" (click)="abrirModalCadastro()" size="small"></p-button>
    <ng-template pTemplate="left">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search" (click)="clearSearch()"></i>
        </p-inputgroup-addon>
        <input pInputText placeholder="Filtrar Produtos" #filter (input)="onGlobalFilter($event)" />
      </p-inputgroup>
    </ng-template>
  </p-toolbar>

  <p-table #dt2 [value]="produtos" [tableStyle]="{'min-width': '50rem'}"
    [globalFilterFields]="['codigo', 'descricao', 'situacao']" responsiveLayout="scroll" [rows]="5" [paginator]="true"
    [rowsPerPageOptions]="[5,10,25,50]" [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros" stripedRows>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="codigo">Código <p-sortIcon field="codigo"></p-sortIcon></th>
        <th pSortableColumn="descricao">Descrição <p-sortIcon field="descricao"></p-sortIcon></th>
        <th pSortableColumn="situacao">Situação <p-sortIcon field="situacao"></p-sortIcon></th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-produto>
      <tr>
        <td>{{ produto.codigo }}</td>
        <td>{{ produto.descricao }}</td>
        <td>{{ produto.situacao}}</td>
        <td>
          <div class="flex gap-2">
            <p-button icon="pi pi-pencil" rounded outlined (click)="editarProduto(produto)">
            </p-button>
            <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="excluirProduto(produto)">
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="produtoDialog" [modal]="true" [style]="{width: '650px'}" header="Detalhes do Produto"
  [draggable]="false" [resizable]="false" (onHide)="ocultarModal()">
  <p-divider />

  <p-card styleClass="mb-0">
    <form [formGroup]="produtoForm" class="formgrid grid">
      <div class="field col-12">
        <label for="descricao" class="block font-medium mb-2">Descrição</label>
        <input pInputText id="descricao" formControlName="descricao" class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': submitted && produtoForm.get('descricao')?.invalid}">
        <small class="p-error block mt-2" *ngIf="submitted && produtoForm.get('descricao')?.invalid">
          Descrição é obrigatória
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="situacao" class="block font-medium mb-2">Situação</label>
        <p-dropdown id="situacao" formControlName="situacao" [options]="situacaoOptions" optionLabel="label"
          optionValue="value" placeholder="Selecione a situação" [style]="{ width: '100%', height: '37px' }"
          appendTo="body" [ngClass]="{'ng-invalid ng-dirty': submitted && produtoForm.get('situacao')?.invalid}">
        </p-dropdown>
        <small class="p-error block mt-2" *ngIf="submitted && produtoForm.get('situacao')?.invalid">
          Situação é obrigatória
        </small>
      </div>
    </form>
  </p-card>

  <p-divider />
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="ocultarModal()">
      </button>
      <button pButton label="Salvar" icon="pi pi-check" class="p-button-primary" (click)="salvarProduto()">
      </button>
    </div>
  </ng-template>
</p-dialog>


<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Não">
</p-confirmDialog>
