<div class="card">
  <p-toast></p-toast>
  <div class="flex justify-content-between align-items-center">
    <h2 class="m-2">Lista de Fornecedores</h2>
  </div>
  <p-toolbar>
    <p-button label="Novo" icon="pi pi-plus" (click)="abrirModalCadastro()" size="small"></p-button>
    <ng-template pTemplate="left">
      <p-inputgroup>
        <p-inputgroup-addon>
          <i class="pi pi-search" (click)="clearSearch()"></i>
        </p-inputgroup-addon>
        <input pInputText placeholder="Filtrar Fornecedores" #filter (input)="onGlobalFilter($event)" />
      </p-inputgroup>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    [value]="fornecedores"
    [tableStyle]="{'min-width': '50rem'}"
    [globalFilterFields]="['nome', 'cnpj', 'email']"
    responsiveLayout="scroll"
    [rows]="5"
    [paginator]="true"
    [rowsPerPageOptions]="[5,10,25,50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    stripedRows>

    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="id">Código <p-sortIcon field="id"></p-sortIcon></th>
        <th pSortableColumn="nome">Nome <p-sortIcon field="nome"></p-sortIcon></th>
        <th pSortableColumn="cnpj">CNPJ <p-sortIcon field="cnpj"></p-sortIcon></th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Ações</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-fornecedor>
      <tr>
        <td>{{ fornecedor.codigo }}</td>
        <td>{{ fornecedor.razaoSocial }}</td>
        <td>{{ fornecedor.cnpj | cnpjFormat}}</td>
        <td>{{ fornecedor.telefone }}</td>
        <td>{{ fornecedor.email }}</td>
        <td>
          <div class="flex gap-2">
            <p-button icon="pi pi-pencil" rounded outlined (click)="editarFornecedor(fornecedor)">
            </p-button>
            <p-button icon="pi pi-trash" severity="danger" rounded outlined (click)="excluirFornecedor(fornecedor)">
            </p-button>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<p-dialog [(visible)]="fornecedorDialog" [modal]="true" [style]="{width: '650px'}" header="Detalhes do Fornecedor"
  [draggable]="false" [resizable]="false" (onHide)="ocultarModal()">
  <p-divider />

  <p-card styleClass="mb-0">
    <form [formGroup]="fornecedorForm" class="formgrid grid">
      <div class="field col-12 md:col-6">
        <label for="razaoSocial" class="block font-medium mb-2">Razão Social</label>
        <input pInputText id="razaoSocial" formControlName="razaoSocial" class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('razaoSocial')?.invalid}">
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('razaoSocial')?.invalid">
          Razão Social é obrigatória
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="cnpj" class="block font-medium mb-2">CNPJ</label>
        <p-inputMask id="cnpj" formControlName="cnpj" mask="99.999.999/9999-99"
          [style]="{ width: '100%', height: '37px' }"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('cnpj')?.invalid}">
        </p-inputMask>
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('cnpj')?.invalid">
          CNPJ é obrigatório
        </small>
      </div>

      <div class="field col-12">
        <label for="endereco" class="block font-medium mb-2">Endereço</label>
        <input pInputText id="razaoSocial" formControlName="endereco" class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('endereco')?.invalid}">
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('endereco')?.invalid">
          Endereço é obrigatório
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="email" class="block font-medium mb-2">E-mail</label>
        <input pInputText id="email" formControlName="email" class="w-full"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('email')?.invalid}">
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('email')?.invalid">
          E-mail é obrigatório e deve ser válido
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="telefone" class="block font-medium mb-2">Telefone</label>
        <p-inputMask id="telefone" formControlName="telefone" mask="(99) 99999-9999"
          [style]="{ width: '100%', height: '37px' }"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('telefone')?.invalid}">
        </p-inputMask>
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('telefone')?.invalid">
          Telefone é obrigatório
        </small>
      </div>

      <div class="field col-12 md:col-6">
        <label for="situacao" class="block font-medium mb-2">Situação</label>
        <p-dropdown id="situacao" formControlName="situacao" [options]="situacaoOptions" optionLabel="label"
          optionValue="value" placeholder="Selecione a situação" [style]="{ width: '100%', height: '37px' }"
          appendTo="body" [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('situacao')?.invalid}">
        </p-dropdown>
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('situacao')?.invalid">
          Situação é obrigatória
        </small>
      </div>

      <div class="field col-12 md:col-6" *ngIf="fornecedorForm.get('situacao')?.value === 'BAIXADO'">
        <label for="dataBaixa" class="block font-medium mb-2">Data de Baixa</label>
        <p-datePicker id="dataBaixa" formControlName="dataBaixa" dateFormat="dd/mm/yy" [showIcon]="true"
          [style]="{ width: '100%', height: '37px' }" appendTo="body"
          [ngClass]="{'ng-invalid ng-dirty': submitted && fornecedorForm.get('dataBaixa')?.invalid}">
        </p-datePicker>
        <small class="p-error block mt-2" *ngIf="submitted && fornecedorForm.get('dataBaixa')?.invalid">
          Data de Baixa é obrigatória
        </small>
      </div>
    </form>
  </p-card>

  <p-divider />
  <ng-template pTemplate="footer">
    <div class="flex justify-content-end gap-2">
      <button pButton label="Cancelar" icon="pi pi-times" class="p-button-secondary" (click)="ocultarModal()">
      </button>
      <button pButton label="Salvar" icon="pi pi-check" class="p-button-primary" (click)="salvarFornecedor()">
      </button>
    </div>
  </ng-template>
</p-dialog>


<p-confirmDialog header="Confirmação" icon="pi pi-exclamation-triangle" acceptLabel="Sim" rejectLabel="Não">
</p-confirmDialog>
